<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="weatherCtrl">
  <div class="col w-lg bg-light dk b-r bg-auto">
    <div class="wrapper-md dker b-b">
      <div class="input-group">
         <input type="text" class="form-control" ng-model="userSearchText" placeholder="请输入要查询的城市...">
         <div class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="getLocations()">查询</button>
         </div>
      </div>
    </div>
    <!-- show search results for user input -->
    <div class="wrapper-md">
      <ul class="list-group list-group-sp" ng-show="place">
        <li class="list-group-item">
          <a class="clear text-ellipsis" ng-click="getWeather(place)"> {{place}}</a>
        </li>
      </ul>
      <ul class="list-group list-group-sp">
        <li class="list-group-item">
          <a href ng-click="getWeather('北京')">北京</a>
        </li>
        <li class="list-group-item">
          <a href ng-click="getWeather('唐山')">唐山</a>
        </li>
        
      </ul>
    </div>
  </div>
  <!--  -->
  <div class="col">
    <div class="wrapper-lg clearfix bg-info dker" ng-show="todayWeather">
      <h4 class="m-t-none m-b-lg"><span class="text-xs text-muted m-l pull-right">温度：{{ todayWeather.temperature }}</span>{{ todayWeather.city }}</h4>
      <div class="hbox">
        <div class="col v-middle w-sm">
          <skycon icon="todayWeather.icon" color="#fff" size="128" id=""></skycon>
        </div>
        <div class="col v-middle">
          <div class="h4">
            <span class="text-2x text-white">{{ todayWeather.date }} </span>            
          </div>
          <span class="text-muted">天气：{{ todayWeather.weather }} &nbsp; 风力： {{ todayWeather.wind }}</span>
        </div>
      </div>
    </div>
    
    <!-- 显示天气预报最近日期 -->
    <div class="list-group no-border no-radius">
      <div class="list-group-item" ng-show="list.length" ng-repeat="forecast in list"> 
        <div class="hbox">
          <div class="col v-middle w-xxs">
            <span class="h4">{{forecast.date}}</span>           
          </div>
          <div class="col v-middle w-xxs">
            <skycon icon="forecast.icon" color="app.color.dark" size="32"></skycon>
          </div>
          <div class="col v-middle">
            {{forecast.weather}}
          </div>
          <div class="col v-middle">
            {{forecast.temperature}}
          </div>
          <div class="col v-middle text-right hidden-xs">                
            <small class="text-muted">{{forecast.wind}}</small>
          </div>           
        </div>
      </div>
    </div>
  </div>
</div>